root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4

[*.{php,html,conf,xml}]
charset = utf-8
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[**.{js,css,yml,json}]
charset = utf-8
indent_style = space
indent_size = 2
